<main>
  <h1><a target="_blank" href="https://github.com/soorya-u/Tic-Tac-Toe-PWA">Tic-Tac-Toe</a></h1>

  <button (click)="newGame()">Restart Game</button>

  <h2 *ngIf="winner">
    <span
      [style]="
        winner === 'X'
          ? {
              color: 'rgb(219, 0, 0)',
              'text-shadow': '0 0 0.2rem rgb(255, 60, 60)'
            }
          : {
              color: 'rgb(0, 136, 255)',
              'text-shadow': '0 0 0.2rem rgb(63, 192, 244)'
            }
      "
      >{{ winner }}
    </span>
    Won the Game!
  </h2>

  <h2 *ngIf="draw">The Game is Draw!</h2>

  <div *ngIf="!endGame" class="player">
    <span [ngClass]="xIsNext ? 'x-active' : ''" class="x-red">X</span>
    <span [ngClass]="!xIsNext ? 'o-active' : ''" class="o-blue">O</span>
  </div>

  <div class="game-container">
    <div class="grid">
      <app-square
        *ngFor="let square of squares; let i = index"
        [data-win]="(endGame && winSquares.includes(i)) ? winner : '' "
        [data-endGame]="endGame"
        value="{{ square }}"
        (click)="handleClick(i)"
      ></app-square>
    </div>
  </div>
</main>
