@keyframes hover-effect {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.25rem;

  h1 {
    padding: 0.125rem 1rem;
    color: rgba(0, 0, 0, 0);
    text-align: center;
    background: linear-gradient(
      to bottom right,
      rgb(219, 0, 0),
      rgb(0, 136, 255)
    );
    background-size: 200% 200%;
    background-clip: text;
    animation: hover-effect 3s ease-in-out infinite;
  }

  button {
    padding: 0.125rem 1rem;
    background: transparent;
    color: #fff;
    font-family: "Chakra Petch", sans-serif;
    font-style: italic;
    font-size: 1.25rem;
    cursor: pointer;
    position: relative;
    text-align: center;
    border: none;
    background-color: #333333;
    border: 1px solid #333333;
    border-radius: 10px;

    &:before,
    &:after {
      content: "";
      border: 2px solid #333333;
      top: -4px;
      left: -4px;
      border-radius: 10px;
      position: absolute;
      background: linear-gradient(
        to bottom right,
        rgb(219, 0, 0),
        rgb(0, 136, 255)
      );
      background-size: 200% 200%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      z-index: -1;
      animation: hover-effect 2s linear infinite;
    }
    
    &:active {
      transform: scale(1.05);
    }
  }

  h2 {
    margin: 1rem;
    text-align: center;
  }
  
  h4 {
    margin: 1rem;
    text-align: center;
  }

  .game-container {
    width: 100vw;

    .line {
      display: none;
      // display: inline-block;
      position: relative;
      background-color: aqua;
      width: 15rem;
      height: 10px;
    }

    .grid {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      app-square {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}
